[submodule "dependencies/dynamixel_hardware"]
	path = dependencies/dynamixel_hardware
	url = https://github.com/youtalk/dynamixel_hardware.git
[submodule "dependencies/dynamixel-workbench"]
	path = dependencies/dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
[submodule "dependencies/dynamixel-workbench-msgs"]
	path = dependencies/dynamixel-workbench-msgs
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench-msgs.git
[submodule "dependencies/gazebo_ros2_control"]
	path = dependencies/gazebo_ros2_control
	url = https://github.com/ros-controls/gazebo_ros2_control.git
	branch = humble
